[submodule "mbed-os"]
	path = mbed-os
	url = https://github.com/mbed-ce/mbed-os.git
	shallow = true
[submodule "custom_targets"]
	path = custom_targets
	url = https://github.com/JojoS62/custom_targets.git
[submodule "mbed-libs/mbed-mobus"]
	path = mbed-libs/mbed-modbus
	url = https://github.com/JojoS62/mbed-modbus.git
[submodule "mbed-libs/mbed-mqtt"]
	path = mbed-libs/mbed-mqtt
	url = https://github.com/JojoS62/mbed-mqtt.git
[submodule "mbed-libs/Adafruit-Fingerprint-Sensor-Library"]
	path = mbed-libs/Adafruit-Fingerprint-Sensor-Library
	url = https://github.com/JojoS62/Adafruit-Fingerprint-Sensor-Library.git
